#trips
  .row
    #create_trip.six.columns
      %h3 What is your next destination ?
      = render file: "trips/new"
    #user_trips.six.columns
      %h3 Your trips
      .trips
        = render partial: "trips/trip", collection: @trips
  .row
    #trip_destinations.twelve.columns
      %h3 Your trip destinations
      =render file: "destinations/new"
      .destinations
        = render partial: "destinations/destination", collection: @current_trip.destinations
