#trips
  #create_trip
    %h3 What is your next destination ?
    = render :file => "trips/new"
  #user_trips
    %h3 Your trips
    = render :partial => "trips/trip", :collection => @trips
  #trip_details
    %h3 display your trip destinations

