%h3 Sign in

= simple_form_for(resource, :as => resource_name, :url => session_path(resource_name)) do |f| 
  = f.input :email, :placeholder => "Email Address", :label => false
  = f.input :password,
    :required => false , :label => false, :placeholder => "Password"

  .actions
    = f.button :submit, "Sign in" 
