= div_for destination do
  .destination
    %strong= destination.name
    .actions
      = link_to 'edit', edit_trip_destination_path(@current_trip, destination), remote: true
      = link_to 'delete', trip_destination_path(@current_trip, destination), method: :delete, remote: true
